<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img src="assets/images/logo-tajamar.svg" id="tajamar">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> {{'Home.Menu.Inicio' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> {{'Home.Menu.Contacto' | translate }}</a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <img src="assets/images/espana.svg" (click)="cambiarIdioma('es')">
            </li>
            <li class="nav-item">
                <img src="assets/images/bandera.svg" (click)="cambiarIdioma('en')">
            </li>
        </ul>
    </div>
</nav>

<h3> {{'Home.TituloPrincipal' | translate }}</h3>
<p> {{mensaje}} </p>

<label>Selecciona un deporte:</label>
<select>
    <option *ngFor="let deporte of ('Home.Deportes' | translate)">{{deporte.Nombre}}</option>
</select>